<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="{{ site.baseurl }}/contact">联系我们</a></li>
            <li><a href="#">加入我们团队</a></li>
            <li><a href="{{ site.baseurl }}/blog">媒体活动</a></li>
            <li><a href="#">服务条款</a></li>
          </ul>
        </div>
        <p>Copyright &copy; <a href="{{ site.baseurl }}/work">“小鲜肉”</a> 面对面视频社交. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
